@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');
body{
    font-family: 'Dongle', sans-serif !important;
    font-size: 2rem !important;
}

.circle {
    width: 100px;
    margin: 3px 3px 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 2;

  }
  
  .circle canvas {
    vertical-align: top;
    width: 100px !important;
  }
  
  .circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    
  }
  
  .circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
  }
  
  .circle span {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 12px;
  }
  #skills{
      background-color: rgb(255, 255, 255);
      padding-top: 15px;
      border-radius: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      box-shadow: rgb(201, 201, 201) 0px 5px 5px;
  }